services:
  tor-proxy:
    image: ghcr.io/andrew-stclair/tor-socks:latest
    container_name: tor-socks
    restart: unless-stopped
    ports:
      - 9050:9050
      - 9051:9051
    read_only: true
    tmpfs:
      - /tmp
      - /var/tmp
    volumes:
      - tor-data:/var/lib/tor
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    networks:
      - tor

  # Example application using the Tor proxy
  bitcoind:
    command: '-torcontrol=tor-proxy:9051 -torpassword=$TOR_CONTROL_PASSWORD -proxy=tor-proxy:9050'
    image: ghcr.io/andrew-stclair/bitcoind:latest
    environment:
      - TOR_CONTROL_PASSWORD=${TOR_CONTROL_PASSWORD}
    restart: unless-stopped
    volumes:
      - bitcoin-data:/bitcoin
    security_opt:
      - no-new-privileges:true
    ports:
      - 8332:8332
      - 8333:8333
    tmpfs:
      - /tmp
      - /var/tmp
    read_only: true
    container_name: bitcoind
    depends_on:
      - tor-proxy
    networks:
      - default
      - tor

volumes:
  tor-data:
  bitcoin-data:

networks:
  tor:
